<div id="friends-graph"></div>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="//d3js.org/d3-scale-chromatic.v0.3.min.js"></script>
<script type="text/javascript" src="/friend_graph_data.js"></script>
<link rel="stylesheet" href="/friend_graph_style.css">
<script src="/force-directed-graph.js"></script>
